@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background: url("images/WeatherBackgroud.jpg");
    background-position: cover;
    font-family: "Outfit";
    text-align: center;
    color: white;
}
.container {
    position: relative;
    top: 230px;
    left: 90px;
    width: 400px;
    height: 40px;
    padding: 1em;
    background: transparent;
    backdrop-filter: blur(30px);
    border: 1px solid rgb(6, 148, 243);
    border-radius: 20px;
    transition: height .6s ease;
}
.additional-info, .weather-info {
    visibility: hidden;
    animation: slideIn both;
    animation-duration: 1200ms;
}
.weather-info img {
    margin-top: 0.7em;
    width: 250px;
}
.search-box {
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 3%;
}
.search-box input, .search-box button {
    background: transparent;
    outline: none;
    border: none;
}
.search-box button {
    font-size: 20px;
    color: white;
}
input {
    font-size: 20px;
    margin-left: 10px;
    padding: 9px;
}
input::placeholder {
    color: white;
}
input[type="text"]{
    color: white;
}
.weather-info {
    font-size: 50px;
    padding: 0;
}
.temperature, .description {
    margin-top: 0;
}
.weather-info sup {
    font-size: 24px;
}
article {
    font-size: 35px;
    padding-top: 0;
}
.additional-info {
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.additional-info i{
    font-size: 35px;
}
@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
.humidity, .wind {
    position: relative;
    display: flex;
}
.humidity {
    margin-right: 5em;
}
.wind i {
    margin-right: 15px;
}
.not-found {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;
    visibility: hidden;
}
.not-found img {
    width: 400px;
}
.not-found p {
    font-size: 22px;
    font-weight: 500;
}

@media screen and (max-width: 532px) {
    .container {
        left: 0;
    }
}
@media screen and (min-width: 600px) {
    .container {
        left: 100px;
    }
}
@media screen and (min-width: 690px) {
    .container {
        left: 120px;
    }
}
@media screen and (min-width: 800px) {
    .container {
        left: 150px;
    }
}
@media screen and (min-width: 800px) {
    .container {
        left: 150px;
    }
}
@media screen and (min-width: 800px) {
    .container {
        left: 150px;
    }
}
@media screen and (min-width: 900px) {
    .container {
        left: 170px;
    }
}
@media screen and (min-width: 980px) {
    .container {
        left: 250px;
    }
}
@media screen and (min-width: 1000px) {
    .container {
        left: 400px;
    }
}